body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.dashboard {
  display: flex;
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#map {
  width: 300px;
  height: 200px;
  background: black;
  border: 2px solid #22c55e;
  position: relative;
}

.courier {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
}
